
.main{
    display:flex;
    flex-direction: column;
    width:334px;
    margin-right:1.5rem;
    margin-top:3rem;
}
.main img{
    width:334px;
    height:334px;
}
.title{
    font-size: 22px;
    color:rgb(203, 190, 47);
    padding:8px 0px;
}
.price{
    font-size: 20px;
    color:rgba(157,150,78,0.6);

}
.description{
    font-size:16px;
    color:rgb(184, 188, 122);
}
.main button{
    margin-top:15px;
    margin-left:200px;
    padding:8px;
    font-size: 18px;
    border-radius: 5px;
    border:none;
    background-color: rgb(214, 154, 75);
}
.main button:hover{
    background-color: rgb(223, 161, 80);
}


